body{
    background-color: darkgray;
    margin-left: 20px;
    margin-right: 20px;
    
}

.chat{
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
    width: 400px;
    display: inline-block;
}
.msg{
    background-color: burlywood;
    border-radius: 20px;
    padding: 20px;
}